img {
  height: 200px;
  float: left;
  width: 300px;
}

article {
  border: 1px solid black;
  float: right;
  margin-bottom: 20px;
  margin-right: 5%;
  margin-top: 20px;
  height: 250px;
  width: 90%;
}

h2 {
  margin-top: 30px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}



